/*Rachel's styles - NOT WINJS*/

body {
    overflow-y: auto;
}

body div {
    margin: 50px;
    -moz-user-select: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
}
table {
    border: none;
    border-collase: collapse;
}
table td {
    border: none;
}
table tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

thead * {
    font-weight:bold;
}

ul#stylesheet-nav {
    padding: 0;
}

ul#stylesheet-nav > li {
    float: left;
    margin: 10px 10px 10px 0px;
    list-style-type: none;
    font-size: 12pt;
}

ul#stylesheet-nav > li a {    
    text-decoration: none;
}

.break-float {
    clear: left;
}

ul#stylesheet-nav > li a.selected {
    text-decoration: overline;
}

/*.selected:after
{
    content: "•";
}*/

/*
@media all and (max-width: 1400px) and (min-width: 200px) {
    ul#stylesheet-nav > li {
        float: none;
    }
}
*/

/*select {     
    background-color: rgba(85, 55, 102, 1);
    background: linear-gradient(to right,  #553766 0%,#553766 100%); 
    border-radius: 0px;
}

select::-ms-expand {
    color: white;
}*/